.section_01{
    background-image:url("C:\Users\Amit Kishor Joshi\Documents\GitHub\VolunTier_Hub\istockphoto-1318617341-1024x1024.jpg");
    background-color: rgb(155, 226, 155);
    height: 14cm;
}
.section_02{
    background-color: rgb(83, 147, 149);
    height: 11cm;
}
.section_03{
    background-color: aquamarine;
    height: 12cm;
}
.section_04{
    background-color: rgb(66, 146, 119);
    height: 9cm;
}
.section_05{
    background-color: rgb(118, 161, 147);
    height: 10.5cm;
}
.section_06{
    background-color: rgb(56, 86, 76);
    height: 8cm;
}
.dropdown-menu{
    width: 15px;
    margin-left: 2cm;
}